@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  box-sizing: border-box;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0% 15%;
  min-height: 83.7vh;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__descricao {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.apresentacao__botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__botoes__titulo {
  font-size: 24px;
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
}

.apresentacao__botoes__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 378px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  border-radius: 8px;
  padding: 21.5px 0px;
  text-align: center;
  color: #F6F6F6;
  border: 2px solid #22D4FD;
  text-decoration: none;
}

.apresentacao__botoes__links:hover {
  background-color: #272727;
}

.titulo_com_destaque {
  color: #22D4FD;
}

.cabecalho {
  margin: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  color: #22D4FD;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

.rodape {
  background-color: #22D4FD;
  height: 84px;
  text-align: center;
}

footer p {
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
}