@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secudaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --font-kronaone: "Krona One", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-primaria);
  color: var(--cor-secudaria);
  box-sizing: border-box;
  height: 100vh;
}

.titulo_com_destaque {
  color: var(--cor-terciaria);
}

.cabecalho {
  margin: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 5%;
}

.cabecalho__menu__link {
  color: var(--cor-terciaria);
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.curriculo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23%;
  min-height: 100vh;
}

.curriculo__esquerda {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.curriculo__direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.curriculo__campos {
  width: 400px;
  border: 3px var(--cor-terciaria) solid;
  border-radius: 3%;
}

.curriculo__campos__titulo {
  font-family: var(--font-montserrat);
  text-align: center;
  padding-top: 30px;
}

.curriculo__titulo {
  text-align: center;
  font-family: var(--font-kronaone);
  font-weight: 300;
}

.curriculo__campos__informacao {
  font-family: var(--font-montserrat);
  font-size: 1.25rem;
  padding: 8%;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 11%;
}

.apresentacao__sobre_mim {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.apresentacao__sobre_mim__titulo {
  font-size: 2.25rem;
  font-family: var(--font-kronaone);
  font-weight: 400;
  margin-bottom: 30px;
}

.apresentacao__sobre_mim__texto {
  font-size: 1.25rem;
  font-family: var(--font-montserrat);
  font-weight: 400;
  text-align: justify;
}

.apresentacao__conteudo {
  width: 34%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--font-kronaone)
}

.apresentacao__conteudo__descricao {
  font-family: var(--font-montserrat);
  font-size: 1.5rem;
  text-align: justify;
}

.apresentacao__botoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.apresentacao__botoes__titulo {
  font-size: 1.5rem;
  font-family: var(--font-kronaone);
  font-weight: 400;
}

.apresentacao__botoes__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 60%;
  font-size: 1rem;
  font-family: var(--font-montserrat);
  font-weight: 600;
  border-radius: 8px;
  padding: 21.5px 0px;
  text-align: center;
  color: #f6f6f6;
  border: 2px solid #22d4fd;
  text-decoration: none;
}

.apresentacao__botoes__links:hover {
  background-color: #272727;
}

.apresentacao__imagem {
  width: 27%;
}

.rodape {
  background-color: var(--cor-terciaria);
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  font-family: var(--font-montserrat);
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .apresentacao {
    flex-direction: column-reverse;
  }

  .apresentacao__conteudo__titulo {
    font-size: 1.4rem;
  }

  .apresentacao__conteudo__descricao {
    font-size: 1rem;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .cabecalho__menu__link {
    font-size: 1rem;
  }

  .apresentacao__conteudo {
    width: auto;
    padding: 6%;
  }

  /* .apresentacao__botoes__titulo {
    font-size: 1rem;
  } */

  .cabecalho {
    margin: 5% 0% 3% 0%;
  }

  .apresentacao__imagem {
    width: 40%;
  }

  /* .apresentacao__botoes {
    margin-bottom: 5%;
  } */

  .apresentacao__botoes__links {
    width: 100%;
    padding: 4% 0%;
  }

  .apresentacao__sobre_mim {
    width: auto;
    padding: 6%;
  }

  .apresentacao__sobre_mim__titulo {
    font-size: 1.4rem;
  }

  .apresentacao__sobre_mim__texto__paragrafo {
    font-size: 1rem;
  }

  .curriculo {
    display: flex;
    flex-direction: column;
    margin: 5%;
  }

  .curriculo__esquerda {
    margin-bottom: 5%;
  }

  .cabecalho__titulo {
    font-size: 1.4rem;
  }

  .curriculo__campos__informacao {
    font-size: 1rem;
    padding: 7%;
  }

  .curriculo__campos {
    width: 85%;
  }
}